@charset"UTF-8";

body{
background-color: #e5ae06;
}
.navbar{
	position: center;
}
.navbar-nav{
    list-style: none;
	position: absolute;
}
.nav_LOGO{
	border-bottom: 3px solid #000000;
}
.LOGO{
    position: absolute;
}
.nav-link ul li{
	position: absolute;
	float: right;
  	display:inline;
  	width: 65px;
  	padding-left: 20px;
 	border-bottom: 3px solid #767676;
  	padding: 15px;
  	text-align: left;
	list-style: none;
	
}
